{% extends 'admin/base.html'%} 

{% load i18n admin_urls %}

{% block content %}

<div id="content-main">
    <div>
        <form method="post" action="" novalidate="">

            {% if form.errors %}
                <p class="errornote">
                {% blocktranslate count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
                </p>
                {{ adminform.form.non_field_errors }}
            {% endif %}


            {% csrf_token %}

            <fieldset class="module aligned">                
                {{form}}
            </fieldset>
            
            <div class="submit-row">
                <input type="submit" value="Export" class="default" name="_save"> 
            </div>
        </form>
    </div>
</div>

{% endblock %}