{% extends 'admin/base.html'%} 

<!-- {% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% translate 'Generate Codes' %}
</div>
{% endblock %} -->


{% block content %}

<!-- <main id="content-start" class="content" tabindex="-1">
    <div id="content" class="colM">
    <h1>Create Multiple tags</h1> -->
    <div id="content-main">
        <div>
            <form method="post" action="" novalidate="">

                {% if form.errors %}
                    <p class="errornote">
                    {% blocktranslate count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
                    </p>
                    {{ adminform.form.non_field_errors }}
                {% endif %}


                {% csrf_token %}

                <fieldset class="module aligned">
                    <!-- {% for field in form %}
                        <div class="form-row">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}                        
                        {% if field.field.help_text %}
                        <p class="help">
                            {{ field.field.help_text|safe }}
                        </p>
                        {% endif %}
                        </div>
                    {% endfor %} -->
                    {{form}}
                </fieldset>
                
                <div class="submit-row">
                    <input type="submit" value="Save" class="default" name="_save">                    
                    <input type="submit" value="Save and add another" name="_addanother">
                    <input type="submit" value="Save and continue editing" name="_continue">
                </div>
            </form>
        </div>
    </div>
<!-- </main> -->

{% endblock %}